{
  "presets": [
    "@babel/typescript",
    ["@babel/env", {
      "targets": {
        "node": "current",
        "browsers": "last 2 Chrome versions, last 2 Firefox versions"
      }
    }]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
